<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta name="author" content="Ssdb Hosting (www.ssdbhosting.com)" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="/static/images/forms.css" type="text/css" />
</head>

<body>
  <div id="contenttext">
<h3>Add Customer</h3>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form enctype="multipart/form-data" action="/addcustomer/" method="post">{% csrf_token %}
<table style="text-align: left; width: 100%;">
<tbody>
{{ contact_form.as_table}} 
 <tr>
<td></td>
<td><input value="Save" type="submit" /></td>
</tr>
</tbody>
</table>
</form>
</div>
</body></html>
