<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Ssdb Hosting (www.ssdbhosting.com)">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link rel="stylesheet" href="/static/images/style.css" type="text/css"></link>
</head>
<body>
<div id="contenttext">

			<div class="bodytext" style="padding:12px;" align="justify">
				<strong>Track all your clients.</strong><br>
				<br>Locate, Contact, Communicate, Recommend your client.</div>
			<div class="panel" align="justify">
				<span class="orangetitle">Summary</span>
				<span class="bodytext"><br>
                                    <p>Total number of clients
                                    tracked:
                                      {{customers_count}}
                                    </p>
                                    <p></p>
                                    <p>Recently added customers:</p>
                                    <ul>
                                      {% for customer in customers_recently_added %}
                                        <li> {{customer.name}} </li>
                                      {% endfor %}
                                    </ul>

                                    <!-- <p>Recently added clients:
                                    -->

                                    </span>
			        </div>
			</div>

			</div>
</body>
</html>
