<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta name="author" content="Ssdb Hosting (www.ssdbhosting.com)" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="/static/images/forms.css" type="text/css" />
</head>

<script>
	function setAction(form, name) 
	{ 	    
	    if (name == "savebutton") 
	    { 
	        form.action = "/editcustomer/{{ customer_id }}/";
			return true; 
	    } 
	    else if (name == "deletebutton")
	    { 
	      if (confirmAction())
	      {
	        form.action = "/deletecustomer/{{ customer_id }}/";
	        return true;
	      }
	    }
	    return false;
	}
	
	function confirmAction() 
	{
        return confirm("Do you really want to delete this customer?")
    }
</script>
<body>
<h3>Edit Customer</h3>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
<table style="text-align: left; width: 100%;">
<tbody>
{{ contact_form.as_table }}
  <td></td>
  <td>
  {% if image_url != "/photo/" %}
  <img src= {{image_url}} class = "thumbnail" />
  {% endif %}
  </td>
</tbody>
</table>
  <table style="text-align: left; width: 55%;">
    <tbody>
      <tr>

<td><input name="savebutton" value="Save" type="submit"  onclick="return setAction(this.form, name)"/></td>
<td><input name="deletebutton" value="Delete" type="submit"
           onclick="return setAction(this.form, name)"/></td>

</tr>
      </tbody>
    </table>  
</form>
</body></html>
