<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Ssdb Hosting (www.ssdbhosting.com)">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link rel="stylesheet" href="/static/images/style.css" type="text/css"></link>
</head>

<body>
  <div id="contenttext">

{% extends "dojango/base_i18n.html" %}

{% block dojango_content %}

{% load i18n %}

{% load datable_tags %}
{% datable_init %}
{% datable_preloader %}

<h1>{% trans "Search Customer" %}</h1>
<a href="/">{% trans "&lt;&lt; back" %}</a>

<script type="text/javascript">
dojo.require("dijit.layout.TabContainer");
dojo.require("dijit.layout.ContentPane");
dojo.require("dijit.TitlePane")
</script>

<hr size="1" />
     {% datable_refresh_button first_table %}
     {% datable_clear_all_filters_button first_table %}
     {% datable_xls_button first_table %}
     <hr />

<div dojoType="dijit.TitlePane" title="{% trans "Filters" %}" width="750px;">
     {% datable_widget first_table name %}     
     {% datable_widget first_table city %}     
     {% datable_widget first_table ipaddress %}     
     <br />
     {% datable_widget first_table mobile1 %}     
     {% datable_widget first_table mobile2 %}     
     {% datable_widget first_table landline1 %}     
     {% datable_widget first_table landline2 %}     
     {% datable_widget first_table email1 %}     
     {% datable_widget first_table email2 %}    
     <br />
    {% datable_widget first_table signal %}
    {% datable_widget first_table service %}
    <br />
</div>

     {% datable first_table %}
     {% datable_href_on_click first_table %}

     <div id="first_tableGridContainer" style="height:450px;"></div>


{% endblock %}

    </div>
  </body>
